<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- bootstrap yeti theme from https://bootswatch.com/ --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
  {{!-- bootstrap basic navbar from https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp --}}
  <nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
      <a class="navbar-brand" href="/">Project Tracker</a>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses/add">Add Course</a>
      </li>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </ul>
  </nav>
  {{{body}}}
</body>
<script src="/javascripts/main.js"></script>

</html>